.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 30px;
  background-color: transparent;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 30px;
  height: 30px;
}
